div {
	margin: 30px 5px 20px;
}

p, img {
	margin: 5px 0px 10px;
}

.article-content {
	font-size: 15px;
	line-height: 25px;
	word-wrap: break-word;
}

.article-content img {
	margin: 5px auto;
	display: block;
	max-width: 100%;
	height: auto;
}
